.button {
  display: block;
  width: max-content;
  padding: 1rem 2rem;
  font-size: 1.125rem;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.15s;
  
  &--full-width {
    width: 100%;
  }
  
  &--black {
    color: $clr-white;
    background-color: #21092F; // TODO: Change color to dark purple
  }
}